.InfoPoint {
  position: absolute;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.InfoPoint-pointer {
  padding: 8px;
}

.InfoPoint-text {
  position: absolute;
  color: #fff;
  width: 300px;
}

.InfoPoint--verticalOrientationDown .InfoPoint-text {
  top: 0px;
}
.InfoPoint--verticalOrientationUp .InfoPoint-text {
  bottom: 100%;
}
.InfoPoint--horizontalOrientationLeft .InfoPoint-text {
  right: 100%;
  text-align: right;
}
.InfoPoint--horizontalOrientationRight .InfoPoint-text {
  left: 100%;
  text-align: left;
}

.InfoPoint-title {
  font-size: 18px;
  font-size: 24px;
  margin-bottom: 16px;
}

.InfoPoint-description {
  position: relative;
  font-size: 14px;
  opacity: 1;
  transition: 0.2s opacity ease-out;
  font-size: 18px;
}
/* 
.InfoPoint:hover .InfoPoint-description {
  opacity: 1;
} */
