.ImageComparison {
  position: relative;
}

.ImageComparison-images {
  width: 100%;
  position: relative;
  height: auto;
  left: 0;
  top: 0;
  overflow: hidden;
}

.ImageComparison-leftImageHolder {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.ImageComparison-rightImageHolder {
  width: 100%;
  height: 100%;
}

.ImageComparison-imagePositioner {
  height: 100%;
  width: 100%;
}

.ImageComparison-image {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.ImageComparison-separator {
  position: absolute;
  transform: translateX(-50%);
  left: 0;
  top: 0;
  bottom: 0;
  cursor: e-resize;
  padding: 0 16px;
}

.ImageComparison-separatorLine {
  background-color: #fff;
  width: 2px;
  height: 100%;
}

.ImageComparison-separatorThumb {
  position: absolute;
  background-color: #fdcd54;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.4);
  transition: width 0.2s ease-out, height 0.2s ease-out,
    box-shadow 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageComparison-separator:hover .ImageComparison-separatorThumb {
  width: 56px;
  height: 56px;
  box-shadow: 0px 0px 0px 13px rgba(255, 255, 255, 0.4);
  transition: width 0.2s ease-out, height 0.2s ease-out,
    box-shadow 0.2s ease-out 0.1s;
}

.ImageComparison-infoPoints {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
