.ImageComparison {
  position: relative;
}
.ImageComparison--isSeparatorMoving {
  cursor: e-resize;
}

.ImageComparison-images {
  width: 100%;
  position: relative;
  height: auto;
  left: 0;
  top: 0;
  overflow: hidden;
}

.ImageComparison-leftImageHolder {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s ease-out;
}

.ImageComparison--isSeparatorMoving .ImageComparison-leftImageHolder {
  transition: none;
}

.ImageComparison-rightImageHolder {
  width: 100%;
  height: 100%;
}

.ImageComparison-imagePositioner {
  height: 100%;
  width: 100%;
  transition: 0.2s ease-out;
}

.ImageComparison--isSeparatorMoving .ImageComparison-imagePositioner {
  transition: none;
}

.ImageComparison-image {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.ImageComparison-separator {
  position: absolute;
  transform: translateX(-50%);
  left: 0;
  top: 0;
  bottom: 0;
  cursor: e-resize;
  padding: 0 16px;
  transition: 0.2s ease-out;
}

.ImageComparison--isSeparatorMoving .ImageComparison-separator {
  transition: none;
}

.ImageComparison-separatorLine {
  background-color: #fff;
  width: 2px;
  height: 100%;
}

.ImageComparison-separatorThumb {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageComparison-separatorThumb::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fdcd54;
  transition: transform 0.2s ease-out;
  z-index: 0;
}

.ImageComparison-separator:hover .ImageComparison-separatorThumb::after {
  transform: translate(-50%, -50%) scale(1.2);
}

.ImageComparison--isSeparatorMoving .ImageComparison-separatorThumb::after {
  transform: translate(-50%, -50%) scale(1.2);
}

.ImageComparison-separatorThumb::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: rgba(253, 253, 253, 0.5);
  transition: transform 0.2s ease-out;
  z-index: 0;
}

.ImageComparison-separator:hover .ImageComparison-separatorThumb::before {
  transform: translate(-50%, -50%) scale(1.2);
}

.ImageComparison--isSeparatorMoving .ImageComparison-separatorThumb::before {
  transform: translate(-50%, -50%) scale(1.2);
}

.ImageComparison-separatorIcons {
  display: flex;
  position: relative;
  z-index: 1;
}

.ImageComparison-separatorIconLeft {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  transition: transform 0.2s ease-out;
}

.ImageComparison--isSeparatorMoving .ImageComparison-separatorIconLeft {
  transform: translateX(-3px);
}

.ImageComparison--separatorStart .ImageComparison-separatorIconLeft {
  display: none;
}

.ImageComparison-separatorIconRight {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  transition: transform 0.2s ease-out;
}

.ImageComparison--isSeparatorMoving .ImageComparison-separatorIconRight {
  transform: translateX(3px);
}

.ImageComparison--separatorEnd .ImageComparison-separatorIconRight {
  display: none;
}

.ImageComparison-infoPoints {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
